<div class="col-12 col-md-6 col-lg-4 mb-4">
    <div class="card article-card">
        <img src="{{ post.data.image }}" class="card-img-top" alt="{{ post.data.titleAlt }}">
        <div class="card-body">
            <h5 class="card-title">{{ post.data.title }}</h5>
            <p class="card-text">{{ post.data.description }}</p>
            <a href="{{ post.url }}" class="btn btn-success">Read Article</a>
        </div>
    </div>
</div>