<div class="container-fluid bg-light">
    <div class="row">
        <div class="col-12 text-center p-3">
            <span><a class="btn btn-dark" href="https://www.buymeacoffee.com/macsmacs">I'm making this template with ✋🏻 and 💘, buy me a ☕</a></span>
        </div>
    </div>
</div>