<section id="jumbo1" class="py-4">
    <div class="py-3 text-center container">
        <div class="row py-4 py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold">{{ collections.jumbo1[0].data.title }}</h1>
                <p class="lead text-muted">{{ collections.jumbo1[0].data.subtitle }}</p>
                <p>
                    <a href="{{ collections.jumbo1[0].data.btnsxLink }}" class="btn btn-success my-2">{{ collections.jumbo1[0].data.btnsx }}</a>
                    <a href="{{ collections.jumbo1[0].data.btndxLink }}" class="btn btn-outline-success my-2">{{ collections.jumbo1[0].data.btndx }}</a>
                </p>
            </div>
        </div>
    </div>
</section>
