<section id="intro">
    <h1>Ciaoo ✨</h1>
    <p>I'm massimo piazza and I do various things: <br> Web development, teaching, project managment, playing drums, skiing, breathing, eating & more 👨‍🔧</p>
    <a target="_blank" href="https://www.linkedin.com/in/-massimo-piazza/">linkedin</a>
    <a target="_blank" href="https://github.com/macs-massimopiazza">github</a>
    <a target="_blank" href="https://www.instagram.com/_massimiliano_jr_plaza_f_/">instagram</a>
    <a target="_blank" href="https://www.youtube.com/channel/UChMxmQbYzMb4fv1o843LPuw/videos">youtube</a>
</section>