<section id="intro">
    <h1>Ciaoo <span class="mobile-fixed">✨</span></h1>
    <p>I'm massimo piazza and I do various things: </p>
    <div class="activities">
        <span>Web development,</span> <span>teaching,</span> <span>project managment,</span> <span>playing drums,</span> <span>skiing,</span> <span>breathing,</span> <span>eating & more 👨‍🔧</span>
    </div>
    <a target="_blank" href="https://www.linkedin.com/in/-massimo-piazza/">linkedin</a>
    <a target="_blank" href="https://github.com/macs-massimopiazza">github</a>
    <a target="_blank" href="https://www.instagram.com/_massimiliano_jr_plaza_f_/">instagram</a>
    <a target="_blank" href="https://www.youtube.com/channel/UChMxmQbYzMb4fv1o843LPuw/videos">youtube</a>
</section>