<section id="intro">
    <h1>Ciaoo <span class="mobile-fixed">✨</span></h1>
    <p>Sono massimo piazza e faccio un po' di cose: </p>
    <div class="activities">
        {%- for activity in collections.activities -%}
            <span>{{ activity.data.title }}{% if loop.last == false %},{% else %} & altro 👨‍🔧{% endif %}</span>
        {%- endfor -%}
    </div>
    <a target="_blank" href="https://www.linkedin.com/in/-massimo-piazza/">linkedin</a>
    <a target="_blank" href="https://github.com/macs-massimopiazza">github</a>
    <a target="_blank" href="https://www.instagram.com/_massimiliano_jr_plaza_f_/">instagram</a>
    <a target="_blank" href="https://www.youtube.com/channel/UChMxmQbYzMb4fv1o843LPuw/videos">youtube</a>
</section>