<section id="services">
    <h3>Servizi: </h3>
    <p>Posso esserti di aiuto per:</p>
    <ul>
        <li>Realizzazione siti web di presentazione (per negozi, ristoranti, eventi etc)</li>
        <li>Ecommerce</li>
        <li>Manutenzione e gestione siti Wordpress</li>
        <li>Qualsiasi altra cosa, parliamone <a href="#get-in-touch">qua sotto</a></li>
    </ul>
</section>