---
title: Blog
layout: 'base.njk'
---

<section id="all-articles" class="py-5">
    <div class="container-fluid">
    {%- for post in collections.post | reverse -%}
        {% include 'article-snippet.njk' %}
    {%- endfor -%}
    </div>
</section>