---
title: Custom Page
layout: 'base.njk'
---
<div id="custom-page">
    <section class="container col-xxl-8 px-4 py-5 {{ collections.custompage[0].data.jumbo1.visible }}">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-12 col-sm-12 col-lg-6">
                <img src="{{ collections.custompage[0].data.jumbo1.image }}" alt="{{ collections.custompage[0].data.jumbo1.imageAlt }}" class="d-block mx-lg-auto img-fluid rounded" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">{{ collections.custompage[0].data.jumbo1.title }}</h1>
                <p class="lead">{{ collections.custompage[0].data.jumbo1.subtitle }}</p>
                <div class="d-flex gap-2 custompage-btns-jumbo1-wrapper">
                    <a href="{{ collections.custompage[0].data.jumbo1.btnsxLink }}" class="btn btn-success my-2 w-50">{{ collections.custompage[0].data.jumbo1.btnsx }}</a>
                    <a href="{{ collections.custompage[0].data.jumbo1.btndxLink }}" class="btn btn-outline-success my-2 w-50">{{ collections.custompage[0].data.jumbo1.btndx }}</a>
                </div>
            </div>
        </div>
    </section>
    <section id="jumbo2" class="py-4 {{ collections.custompage[0].data.jumbo2.visible }}">
        <div class="py-3 text-center container">
            <div class="row py-4 py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-bold">{{ collections.custompage[0].data.jumbo2.title }}</h1>
                    <p class="lead text-muted">{{ collections.custompage[0].data.jumbo2.subtitle }}</p>
                    <p>
                        <a href="{{ collections.custompage[0].data.jumbo2.btnsxLink }}" class="btn btn-success my-2">{{ collections.custompage[0].data.jumbo2.btnsx }}</a>
                        <a href="{{ collections.custompage[0].data.jumbo2.btndxLink }}" class="btn btn-outline-success my-2">{{ collections.custompage[0].data.jumbo2.btndx }}</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="jumbo3" class="{{ collections.custompage[0].data.jumbo3.visible }}">
        <div class="px-4 pt-5 my-5 text-center border-bottom">
            <h1 class="fw-bold">{{ collections.custompage[0].data.jumbo3.title }}</h1>
            <div class="col-lg-6 mx-auto">
                <p class="lead mb-4">{{ collections.custompage[0].data.jumbo3.subtitle }}</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                    <a href="{{ collections.custompage[0].data.jumbo3.btnsxLink }}" class="btn btn-success my-2 w-30">{{ collections.custompage[0].data.jumbo3.btnsx }}</a>
                    <a href="{{ collections.custompage[0].data.jumbo3.btndxLink }}" class="btn btn-outline-success my-2 w-30">{{ collections.custompage[0].data.jumbo3.btndx }}</a>
                </div>
            </div>
            <div class="overflow-hidden" style="max-height: 30vh;">
                <div class="container px-5">
                    <img src="{{ collections.custompage[0].data.jumbo3.image }}" class="img-fluid border rounded-3 shadow-lg mb-4" alt="{{ collections.custompage[0].data.jumbo3.imageAlt }}" width="700" height="500" loading="lazy">
                </div>
            </div>
        </div>
    </section>
</div>