@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&family=Work+Sans:wght@300;400;600&display=swap');
:root {
    --clr-primary-400: hsl(181, 45%, 81%);
    --clr-primary-600: hsl(181, 45%, 70%);
    --clr-secondary-800: hsl(216, 91%, 42%);
    --clr-accent-400: hsl(3, 86%, 57%);
}

@media screen and (min-width: 650px) {
    /* width */
    ::-webkit-scrollbar {
        width: var(--scrollbar-width);
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--clr-secondary-800);
        border-radius: 15px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--clr-secondary-800);
    }   
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: var(--clr-primary-400);
    color: var(--clr-accent-400)
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3rem;
}

.container {
    max-width: 650px;
    margin: 0 auto;
    padding-block: 1rem;
    padding-inline: 0.25rem;
}

section#intro {
    margin-bottom: 2rem;
}

section {
    margin-bottom: 1.5rem;
}