@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800;900&family=Work+Sans:wght@300;400;600&display=swap');
:root {
    --clr-primary-400: hsl(181, 45%, 81%);
    --clr-primary-600: hsl(181, 45%, 70%);
    --clr-secondary-400: hsl(3, 86%, 57%);
    --clr-accent-600: hsl(216, 91%, 62%);
    --clr-accent-800: hsl(216, 91%, 42%);
    --clr-white-400: hsl(0, 0%, 100%);
    --clr-black-400: hsl(0, 0%, 0%);
    --clr-black-100: hsl(0, 0%, 70%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin-left: 1em;
}

@media screen and (min-width: 650px) {
    /* width */
    ::-webkit-scrollbar {
        width: var(--scrollbar-width);
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: transparent;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--clr-accent-600);
        border-radius: 15px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--clr-accent-600);
    }   
}

body {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    background-color: var(--clr-primary-400);
    color: var(--clr-secondary-400);
    min-height: 100vh;
}

main {
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    margin-bottom: 1rem;
    margin-top: 0;
}

h1 {
    font-size: 5rem;
    margin-bottom: 0.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 3.2rem;
}

p {
    margin-bottom: 0.3rem;
}

a:visited {
    color: var(--clr-accent-600);
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding-block: 1rem;
    padding-inline: 0.25rem;
}

section {
    margin-bottom: 1.8rem;
}

section#intro {
    margin-bottom: 2rem;
}

section#intro p{
    line-height: 1.7rem;
}

section#on-going ul li {
    margin-bottom: 0.5rem;
}

section#projects a {
    text-decoration: none;
    color: var(--clr-secondary-400);
    transition: all 200ms;
}

section#projects a:hover, section#projects a:focus {
    color: var(--clr-accent-600);
}

section#projects .project-spacer {
    padding-inline: 10px;
    font-weight: 900;
}

section#projects .project {
    display: inline-block;
}

section#get-in-touch h3 {
    margin-bottom: 1.5rem;
}

/* SUCCESS PAGE */
.success-message-wrapper {
    height: calc(100vh - 2rem);
    display: grid;
    place-items: center;
}

.success-message {
    margin-top: -6rem;
    text-align: center;
}

/* FORM */
.input-wrapper {
    display: flex;
    align-items: center;
    gap: 1.3rem;
}

.input-container {
    height: 50px;
    position: relative;
    width: 100%;
}

.input-container.ta {
    height: auto;
}

.ic2 {
    margin-top: 1.3rem;
}

.input {
background-color: var(--clr-white-400);
border-radius: 12px;
border: 0;
box-sizing: border-box;
color: var(--clr-black-100);
font-size: 20px;
font-family: 'Work Sans', sans-serif;
height: 100%;
outline: 0;
padding: 4px 20px 0;
width: 100%;
}

.input.ta {
    height: auto;
    min-height: 170px;
    padding-top: 15px;
}

.cut {
background-color: var(--clr-primary-400);
border-radius: 10px;
height: 20px;
left: 20px;
position: absolute;
top: -20px;
transform: translateY(0);
transition: transform 200ms;
width: 102px;
}

.cut-md {
    width: 87px;
}

.cut-short {
    width: 63px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
transform: translateY(8px);
}

.placeholder {
color: var(--clr-black-100);
left: 20px;
line-height: 14px;
pointer-events: none;
position: absolute;
transform-origin: 0 50%;
transition: transform 200ms, color 200ms;
top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
    color: var(--clr-secondary-400);
    font-weight: 700;
}

.input:focus ~ .placeholder {
    color: var(--clr-secondary-400);
    font-weight: 700;
}

.submit {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    background-color: var(--clr-accent-600);
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: var(--clr-white-400);
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 1.3rem;
    text-align: center;
    width: 100%;
}

.submit:active {
    background-color: var(--clr-accent-800);
}

