---
title: Success
layout: 'base.njk'
---

<div class="success-message-wrapper">
    <div class="success-message">
        <h1>Yeeee</h1>
        <h3>😁😁😁</h3>
        <h3>Messaggio inviato!</h3>
        <h1 id="counter"></h1>
    </div>
</div>

<script>
    setTimeout(() => {
        location.href = 'http://localhost:8080';
    }, 5000)
</script>
